.main-container {
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
.options-score {
  color: aliceblue;
}

#cards {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;;
  
}
.filtersI {
  display: flex;
  flex-direction: column;
}
.filtersII {
  display: flex;
  flex-direction: column;
  
  display: none;
  background-color: rgba(119, 0, 0, 0.882);
}

.filters-containerLg {
  width: fit-content;
  height: fit-content;
  position: fixed;
  padding: 10px;;
  right: 0px;
  top: 55px;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: #700;
  color: white;
  display: none;
}

.filtersBtn {
  background-color: #700;
  width: fit-content;
  height: fit-content;
  position: fixed;
  right: 0px;
  top: 0px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: large;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  color: white;
  border-bottom-left-radius: 20%;

 
}
.exitFiltersBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 12px;
  background-color: black;
  width: 100px;
  height: 50px;
  position: fixed;
  right: 0px;
  top: 0px;
  padding-left: 10px;
  padding-right: 2px;
  
  letter-spacing: 1px;

  color: white;
  border-bottom-left-radius: 20%;
 
}

.watchlist-containerLg {
  width: auto;
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: fit-content;
  width: fit-content;
}

.watchlist-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: larger;
  font-weight: 600;
}

.watchlist-containerMd {
  margin-top: 10px;
  background-color: silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: none;
  padding: 5px;
  padding-left: 25px;
  border-radius: 5%;
  box-shadow: 4px 4px 10px 5px black, 10px 10px 10px 5px #700;
}
.open-watchlist {
  background-color: brown;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-radius: 10%;
  opacity: 50%;
  border: solid black 2px;
  font-weight: bold;
}

.open-watchlist:hover {
  opacity: 90%;
  font-weight: bold;

  box-shadow: 4px 4px 10px 5px black, 10px 10px 10px 5px #700;
}

.close-watchlist {
  background-color: black;
  position: relative;
  left: -40px;
  color: crimson;
  margin-left: 20px;
  width: 25px;
  border-radius: 60%;
}

#watchlist {
  list-style: decimal;
}

.options {
height: 8%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
background-color: black;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
cursor: pointer;

}

.movie-title {
font-size: 13px;
height: 8%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
background-color: black;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;
color: whitesmoke;
}

.movie-description {
  display: none;
}

.movie-poster {
  display: block;
}


